*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9ECE5;
    font-family: 'Work Sans', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero .hero_title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero .hero_title h2{
    font-size: 48px;
    font-family: 'Fraunces', Georgia, serif;
    line-height: 1.2;
    color: #1F0062;
}

.hero .hero_title p{
    font-size: 20px;
    color: #6b5A54;
    line-height: 2;
}

.hero .hero_content{
    display: flex;
    gap: 20px;
    margin: 0 100px;
    padding: 20px;
}

.hero .hero_buttons{
    display: flex;
    gap: 15px;
}

.hero .hero_buttons button{
    padding: 15px 20px;
    background: transparent;
    border: none;
    font-family: 'Work Sans', sans-serif;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.hero .hero_buttons button#ajuda{
    background-color: #D73220; 
    color: #fff;
}

.hero .hero_buttons button#ajuda:hover{
    background-color: #962216; 
    transition: all 300ms;
}

.hero .hero_buttons button#projetos{
    border: 1px solid #1F0062;
    color: #1F0062;
}

.hero .hero_buttons button#projetos:hover{
    background-color: #1F0062; 
    color: #fff;
    transition: all 300ms;
}

.ong_info{
    background-color: #1F0062;
}

.ong_info__content{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 50px;
}

.ong_info__card{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ong_info__card span:nth-child(1){
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    font-family: 'Fraunces', Georgia, serif;
}

.ong_info__card span:nth-child(2){
    font-size: 16px;
    font-weight: 500;
    color: #ffffff9c;
    font-family: 'Work Sans', sans-serif;
}

.ong_content{
    margin: 0 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ong_content__title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ong_content__title h3{
    font-family: 'Fraunces', Georgia, serif;
    font-size: 34px;
    color: #1F0062;
}

.ong_content__title p{
    font-family: 'Work Sans', sans-serif;
    color: #6b5A54;
    font-size: 16px;
}

.ong_content__list{
    display: flex;
    gap: 20px;
}

.ong_content__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ong_content__item img{
    object-fit: cover;
    width: 100%;
    height: 320px;
    border: 1px solid #962216;
    border-radius: 10px;
}

.ong_item__desc{
    border-top: 2px solid #D73220;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ong_content__item span{
    font-family: 'Fraunces', Georgia, serif;
    font-size: 34px;
    color: #D73220;
}

.ong_content__item h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    color: #1F0062;
}

.ong_content__item p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #6b5A54;
    line-height: 1.8;
}

.projeto_destaque__content{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 100px;
    padding: 40px;
}

.projeto_destaque__title{
    display: flex;
    flex-shrink: 0;
}

.projeto_destaque__title span{
    display: inline-flex;
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    padding: 8px 10px;
    background-color: #0b78b340;
    color: #0B78B3;
    font-weight: 700;
    border-radius: 8px;
}

.projeto_destaque__desc{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    gap: 10px;
}

.projeto_destaque__desc h4{
    font-family: 'Fraunces', Georgia, serif;
    font-size: 24px;
    color: #1F0062;
}

.projeto_destaque__desc p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #6b5A54;
}

.projeto_destaque__button{
    flex-shrink: 0;
}

.projeto_destaque__button button{
    padding: 10px;
    background: transparent;
    border: none;
    font-family: 'Work Sans', sans-serif;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;

    border: 1px solid #1F0062;
    color: #1F0062;
    font-size: 14px;
}

.projeto_destaque__button button:hover{
    background-color: #1F0062; 
    color: #fff;
    transition: all 300ms;
}

.disclaimer-cadastro{
    margin: 0 100px;
    border-radius: 10px;
    background-color: #D73220;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer-cadastro__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.disclaimer-cadastro h4{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    font-family: 'Fraunces', Georgia, serif;
}

.disclaimer-cadastro p{
    color: #ffffffa8;
    font-family: 16px;
    font-family: 'Work Sans', sans-serif;
}

.disclaimer-cadastro__button button{
    background: transparent;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.disclaimer-cadastro__button button:hover{
    background-color: #fff; 
    color: #D73220;
    transition: all 300ms;
}