.cadastro_content {
    margin: 0 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    align-items: start;
    gap: 30px;
}

.cadastro_content__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cadastro_content__title h2 {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    color: var(--roxo);
}

.cadastro_content__title > p {
    font-family: var(--fonte-texto);
    color: var(--texto);
    font-size: var(--tamanho-texto);
    line-height: 1.8;
}

.cadastro_content__list {
    display: flex;
    flex-direction: column;
}

.cadastro_content__item {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px 0;
    border-top: 1px solid var(--borda);
}

.cadastro_content__item:last-child {
    border-bottom: 1px solid var(--borda);
}

.cadastro_content__item h4 {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-titulo-menu);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.adocao{
    background-color: var(--marrom-suave);
    color: var(--marrom);
}

.voluntariado{
    background-color: var(--azul-suave);
    color: var(--azul);
}

.doacao{
    background-color: var(--vermelho-suave);
    color: var(--vermelho);
}

.cadastro_content__item p {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
    color: var(--texto);
    line-height: 1.8;
}

.formulario {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--vermelho);
}

.formulario fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario legend {
    display: block;
    width: 100%;
    float: left;

    font-size: var(--tamanho-texto);
    font-weight: 700;
}

.formulario legend,
.formulario label {
    font-family: var(--fonte-texto);
    color: var(--branco);
    padding: 0;
}

.formulario label{
    font-size: var(--tamanho-texto-pequeno);
    font-weight: 500;
}

.formulario__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto-pequeno);
    color: var(--roxo);
    background-color: var(--branco-94);
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.formulario textarea {
    min-height: 120px;
    resize: vertical;
}

.formulario ::placeholder {
    color: var(--texto);
}

.formulario__nota {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
    color: var(--texto);
}

.formulario button {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--vermelho-escuro);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: var(--tamanho-texto);
    cursor: pointer;
}

.formulario button:hover {
    background-color: var(--vermelho-hover);
    transition: all 300ms;
}
