.footer{
    background-color: var(--roxo);
}

.footer_content{
    margin: 0 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_content__left{
    display: flex;
    gap: 10%;
}

.footer_content__item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_content__item h4{
    font-family: var(--fonte-titulo);
    color: rgba(255, 255, 255, 0.9);
    font-size: var(--tamanho-subtitulo);
}

.footer_content__item span{
    font-family: var(--fonte-texto);
    color: rgba(255, 255, 255, 0.8);
    font-size: var(--tamanho-texto);
    line-height: 2;
}

.footer_content__item ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_content__item ul li{
    list-style: none;
}

.footer_content__item ul li a{
    text-decoration: none;
    text-decoration-line: none;
    font-size: var(--tamanho-texto);
    color: rgba(255, 255, 255, 0.8);
}

.footer_content hr{
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.footer_content__right span{
    font-size: var(--tamanho-texto-pequeno);
    color: rgba(255, 255, 255, 0.5);
}
